<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Create product</title>
</head>
<body>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div style="padding-left: 20px">
        <a style="color: white" class="navbar-brand" href="#">Home</a>
        <a style="color: white" class="navbar-brand" th:href="@{/products}">Product</a>
    </div>
    <form class="form-inline d-flex" th:action="@{/products/search}" method="GET">
        <input class="form-control flex-grow-1" type="search" name="keyword" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success flex-grow-1" type="submit">Search</button>
    </form>
</nav>
<div layout:fragment="content" class="container body-content">
    <form th:action="@{/products/edit}" th:object="${product}" method="POST" class="form" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Product Name">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <!--                <input class="form-control" type="text" th:field="*{image}" id="image" placeholder="image">-->
            <img height="120" width="150" class="form-control" th:src="@{/images/} + *{image}" placeholder="image" />
            <input class="form-control" type="file" id="image" name="imageProduct" accept="image/png, image/jpeg" >
            <div class="alert alert-warning" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input class="form-control" type="number" th:field="*{price}" id="price" placeholder="price">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <input type="submit" class="btn btn-success" value="Save Product">
    </form>
</div>
<div class="card-footer text-center">
    <hr />
    Lập trình ứng dụng Java - Nguyễn Văn Hà - @2023
</div>
</body>
</html>